/*********************************
litePost
TEXT FORMATTING RULES
**********************************/

/*********************************
GENERIC TEXT STYLES
**********************************/
p {
	margin: 0 0 1em 0;
	line-height: 1.7em;
	}

h1 {
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 .5em 0;
	padding: 2px 0;
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 .5em 0;
	padding: 2px 0;
}

div#navigation h2 {
	color: #443010; /*dark brown*/
}
	
h3 {
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 .5em 0;
	padding: 2px 0;
}

/* lists */
div#navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	
div#navigation ul li {
	margin: .5em 0;
	padding: 0;
}

/* generic right-aligned class */
.right {
	text-align: right;
}

/*********************************
LINKS
**********************************/
/* all otherwise undefined links */

a:link {
	color: #FFF;
	text-decoration: underline;
	}
a:visited {
	color: #e3b75e; /* tan */
	text-decoration: underline;
	}
a:hover {
	color: #e3b75e; /* tan */
	text-decoration: none;
	}
a:active {
	color: #e3b75e; /* tan */
	text-decoration: none;
	}

/* admin, login, logout button links */
a:link.adminbutton,
a:visited.adminbutton,
a:hover.adminbutton,
a:active.adminbutton, button {
	background-color: #9b5c20; /* light golden brown */
	color: #FFF!important;
	text-transform: uppercase;
	text-decoration: none;
	padding: 4px;
	margin: .5em 0;
	font-size: .8em;
	line-height: 1em;
	display: block;
	width: 10em;
	height: .8em;
	text-align: center;
	border: 2px outset #9b5c20;
}

/* body content links */
div#content a:link,
div#content a:visited {
	color: #ab3e09;/*brick red*/
}

div#content a:hover,
div#content a:active {
	color: #ab3e09;/*brick red*/
	text-decoration:none;
}

/* footer links */
div#footer a:link,
div#footer a:visited {
	color: #ab3e09;/*brick red*/
	}
	
div#footer a:hover,
div#footer a:active {
	color: #ab3e09;/*brick red*/
	text-decoration: none;
}

/*********************************
CONTENT-SPECIFIC TEXT
**********************************/
p.author {
	text-align: right;
	font-size: .8em;
}

div.comment {
	background-color:#f9e9c2; /* beige */
	color: #443010; /*dark brown*/
	padding: 1em;
	border: 1px solid #443010;
	background-image: url(/litepost/assets/images/quoteMark.gif);
	background-repeat: no-repeat;
	background-position: top left;
}



	